<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>AlcremieMintCream</h1>
    <h2>#869 - Cream Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1863</div>
    <div><strong>Forme :</strong> Mint Cream</div>
    <div><strong>Type :</strong> Fairy / NULL</div>
    <div><strong>Taille :</strong> 0.3</div>
    <div><strong>Poids :</strong> 0.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Sweet Veil</strong> -> Prevents itself and ally Pokemon from falling asleep.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Aroma Veil</strong> -> Protects itself and its allies from attacks that limit their move choices.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 65</div>
      <div>Attaque : 60</div>
      <div>Défense : 75</div>
      <div>Att. Spé : 110</div>
      <div>Déf. Spé : 121</div>
      <div>Vitesse : 64</div>
      <div class="total">Total : 495</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 100</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 100</p>
      <p><strong>Groupes d'œufs :</strong> Fairy / Amorphous</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1483</p>
    <p><strong>Détails :</strong> Spin Counterclockwise More Than 5 Seconds During The Night</p>
  </section>

</div>

</body>
</html>
