<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Alomomola</h1>
    <h2>#594 - Caring Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 965</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / NULL</div>
    <div><strong>Taille :</strong> 1.2</div>
    <div><strong>Poids :</strong> 31.6</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Healer</strong> -> Sometimes heals an allys status condition.</p>
      <p><strong>Hydration</strong> -> Heals status conditions if its raining.</p>
      <p><strong>Regenerator</strong> -> Restores a little HP when withdrawn from battle.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 165</div>
      <div>Attaque : 75</div>
      <div>Défense : 80</div>
      <div>Att. Spé : 40</div>
      <div>Déf. Spé : 45</div>
      <div>Vitesse : 65</div>
      <div class="total">Total : 470</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 75</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Water 2</p>
      <p><strong>Cycles d'œufs :</strong> 40</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
