<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>ArcanineHisui</h1>
    <h2>#59 - Legendary Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1624</div>
    <div><strong>Forme :</strong> Hisui</div>
    <div><strong>Type :</strong> Fire / Rock</div>
    <div><strong>Taille :</strong> 2</div>
    <div><strong>Poids :</strong> 168</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Intimidate</strong> -> The Pokemon intimidates opposing Pokemon upon entering battle, lowering their Attack stat.</p>
      <p><strong>Flash Fire</strong> -> Powers up the Pokemons Fire-type moves if its hit by one.</p>
      <p><strong>Rock Head</strong> -> Protects the Pokemon from recoil damage.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 95</div>
      <div>Attaque : 115</div>
      <div>Défense : 80</div>
      <div>Att. Spé : 95</div>
      <div>Déf. Spé : 80</div>
      <div>Vitesse : 90</div>
      <div class="total">Total : 555</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 75</p>
      <p><strong>Ratio ♀ :</strong> 25</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 135</p>
      <p><strong>Groupes d'œufs :</strong> Field / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1615</p>
    <p><strong>Détails :</strong> Fire Stone</p>
  </section>

</div>

</body>
</html>
