<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Aromatisse</h1>
    <h2>#683 - Fragrance Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1102</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Fairy / NULL</div>
    <div><strong>Taille :</strong> 0.8</div>
    <div><strong>Poids :</strong> 15.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Healer</strong> -> Sometimes heals an allys status condition.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Aroma Veil</strong> -> Protects itself and its allies from attacks that limit their move choices.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 101</div>
      <div>Attaque : 72</div>
      <div>Défense : 72</div>
      <div>Att. Spé : 99</div>
      <div>Déf. Spé : 89</div>
      <div>Vitesse : 29</div>
      <div class="total">Total : 462</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 140</p>
      <p><strong>Groupes d'œufs :</strong> Fairy / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1101</p>
    <p><strong>Détails :</strong> Sachet</p>
  </section>

</div>

</body>
</html>
