<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Beldum</h1>
    <h2>#374 - Iron Ball Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 502</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Steel / Psychic</div>
    <div><strong>Taille :</strong> 0.6</div>
    <div><strong>Poids :</strong> 95.2</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Clear Body</strong> -> Prevents other Pokemons moves or Abilities from lowering the Pokemons stats.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Light Metal</strong> -> Halves the Pokemons weight.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 40</div>
      <div>Attaque : 55</div>
      <div>Défense : 80</div>
      <div>Att. Spé : 35</div>
      <div>Déf. Spé : 60</div>
      <div>Vitesse : 30</div>
      <div class="total">Total : 300</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 35</p>
      <p><strong>Taux de capture :</strong> 3</p>
      <p><strong>Groupes d'œufs :</strong> Mineral / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 40</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
