<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Blipbug</h1>
    <h2>#824 - Larva Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1485</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Bug / NULL</div>
    <div><strong>Taille :</strong> 0.4</div>
    <div><strong>Poids :</strong> 8</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Swarm</strong> -> Powers up Bug-type moves when the Pokemons HP is low.</p>
      <p><strong>Compound Eyes</strong> -> The Pokemons compound eyes boost its accuracy.</p>
      <p><strong>Telepathy</strong> -> Anticipates an allys attack and dodges it.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 25</div>
      <div>Attaque : 20</div>
      <div>Défense : 20</div>
      <div>Att. Spé : 25</div>
      <div>Déf. Spé : 45</div>
      <div>Vitesse : 45</div>
      <div class="total">Total : 180</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 255</p>
      <p><strong>Groupes d'œufs :</strong> Bug / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 15</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
