<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Blissey</h1>
    <h2>#242 - Happiness Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 366</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Normal / NULL</div>
    <div><strong>Taille :</strong> 1.5</div>
    <div><strong>Poids :</strong> 46.8</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Natural Cure</strong> -> All status conditions heal when the Pokemon switches out.</p>
      <p><strong>Serene Grace</strong> -> Boosts the likelihood of additional effects occurring when attacking.</p>
      <p><strong>Healer</strong> -> Sometimes heals an allys status condition.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 255</div>
      <div>Attaque : 10</div>
      <div>Défense : 10</div>
      <div>Att. Spé : 75</div>
      <div>Déf. Spé : 135</div>
      <div>Vitesse : 55</div>
      <div class="total">Total : 540</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 100</p>
      <p><strong>Bonheur de base :</strong> 140</p>
      <p><strong>Taux de capture :</strong> 30</p>
      <p><strong>Groupes d'œufs :</strong> Fairy / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 40</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 147</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
