<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Braviary</h1>
    <h2>#628 - Valiant Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1002</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Normal / Flying</div>
    <div><strong>Taille :</strong> 1.5</div>
    <div><strong>Poids :</strong> 41</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Keen Eye</strong> -> Keen eyes prevent other Pokemon from lowering this Pokemons accuracy.</p>
      <p><strong>Sheer Force</strong> -> Removes additional effects to increase the power of moves when attacking.</p>
      <p><strong>Defiant</strong> -> Boosts the Pokemons Attack stat sharply when its stats are lowered.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 100</div>
      <div>Attaque : 123</div>
      <div>Défense : 75</div>
      <div>Att. Spé : 57</div>
      <div>Déf. Spé : 75</div>
      <div>Vitesse : 80</div>
      <div class="total">Total : 510</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 100</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 60</p>
      <p><strong>Groupes d'œufs :</strong> Flying / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1001</p>
    <p><strong>Détails :</strong> Level 54</p>
  </section>

</div>

</body>
</html>
