<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>BraviaryHisui</h1>
    <h2>#628 - Battle Cry Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1614</div>
    <div><strong>Forme :</strong> Hisui</div>
    <div><strong>Type :</strong> Psychic / Flying</div>
    <div><strong>Taille :</strong> 1.7</div>
    <div><strong>Poids :</strong> 43.4</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Keen Eye</strong> -> Keen eyes prevent other Pokemon from lowering this Pokemons accuracy.</p>
      <p><strong>Sheer Force</strong> -> Removes additional effects to increase the power of moves when attacking.</p>
      <p><strong>Tinted Lens</strong> -> The Pokemon can use not very effective moves to deal regular damage.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 110</div>
      <div>Attaque : 83</div>
      <div>Défense : 70</div>
      <div>Att. Spé : 112</div>
      <div>Déf. Spé : 70</div>
      <div>Vitesse : 65</div>
      <div class="total">Total : 510</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 100</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 135</p>
      <p><strong>Groupes d'œufs :</strong> Flying / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1001</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
