<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Clamperl</h1>
    <h2>#366 - Bivalve Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 494</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / NULL</div>
    <div><strong>Taille :</strong> 0.4</div>
    <div><strong>Poids :</strong> 52.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Shell Armor</strong> -> A hard shell protects the Pokemon from critical hits.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Rattled</strong> -> Dark-, Ghost-, and Bug-type moves scare the Pokemon and boost its Speed stat.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 35</div>
      <div>Attaque : 64</div>
      <div>Défense : 85</div>
      <div>Att. Spé : 74</div>
      <div>Déf. Spé : 55</div>
      <div>Vitesse : 32</div>
      <div class="total">Total : 345</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 255</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
