<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Clawitzer</h1>
    <h2>#693 - Howitzer Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1113</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / NULL</div>
    <div><strong>Taille :</strong> 1.3</div>
    <div><strong>Poids :</strong> 35.3</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Mega Launcher</strong> -> Powers up aura and pulse moves.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 71</div>
      <div>Attaque : 73</div>
      <div>Défense : 88</div>
      <div>Att. Spé : 120</div>
      <div>Déf. Spé : 89</div>
      <div>Vitesse : 59</div>
      <div class="total">Total : 500</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 55</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Water 3</p>
      <p><strong>Cycles d'œufs :</strong> 15</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1112</p>
    <p><strong>Détails :</strong> Level 37</p>
  </section>

</div>

</body>
</html>
