<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Clefable</h1>
    <h2>#36 - Fairy Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 53</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Fairy / NULL</div>
    <div><strong>Taille :</strong> 1.3</div>
    <div><strong>Poids :</strong> 40</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Cute Charm</strong> -> Contact with the Pokemon may cause infatuation.</p>
      <p><strong>Magic Guard</strong> -> The Pokemon only takes damage from attacks.</p>
      <p><strong>Unaware</strong> -> When attacking, the Pokemon ignores the target Pokemons stat changes.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 95</div>
      <div>Attaque : 70</div>
      <div>Défense : 73</div>
      <div>Att. Spé : 95</div>
      <div>Déf. Spé : 90</div>
      <div>Vitesse : 60</div>
      <div class="total">Total : 483</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 25</p>
      <p><strong>Ratio ♀ :</strong> 75</p>
      <p><strong>Bonheur de base :</strong> 140</p>
      <p><strong>Taux de capture :</strong> 25</p>
      <p><strong>Groupes d'œufs :</strong> Fairy / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 10</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 52</p>
    <p><strong>Détails :</strong> Moon Stone</p>
  </section>

</div>

</body>
</html>
