<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>CopperajahGigantamax</h1>
    <h2>#879 - Copperderm Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1531</div>
    <div><strong>Forme :</strong> Gigantamax</div>
    <div><strong>Type :</strong> Steel / NULL</div>
    <div><strong>Taille :</strong> 23</div>
    <div><strong>Poids :</strong> 0</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Sheer Force</strong> -> Removes additional effects to increase the power of moves when attacking.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Heavy Metal</strong> -> Doubles the Pokemons weight.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 122</div>
      <div>Attaque : 130</div>
      <div>Défense : 69</div>
      <div>Att. Spé : 80</div>
      <div>Déf. Spé : 69</div>
      <div>Vitesse : 30</div>
      <div class="total">Total : 500</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 90</p>
      <p><strong>Groupes d'œufs :</strong> Field / Mineral</p>
      <p><strong>Cycles d'œufs :</strong> 25</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
