<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>DecidueyeHisui</h1>
    <h2>#724 - Arrow Quill Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1627</div>
    <div><strong>Forme :</strong> Hisui</div>
    <div><strong>Type :</strong> Grass / Fighting</div>
    <div><strong>Taille :</strong> 1.6</div>
    <div><strong>Poids :</strong> 37</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Overgrow</strong> -> Powers up Grass-type moves when the Pokemons HP is low.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Scrappy</strong> -> The Pokemon can hit Ghost-type Pokemon with Normal- and Fighting-type moves.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 88</div>
      <div>Attaque : 112</div>
      <div>Défense : 80</div>
      <div>Att. Spé : 95</div>
      <div>Déf. Spé : 95</div>
      <div>Vitesse : 60</div>
      <div class="total">Total : 530</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 87.5</p>
      <p><strong>Ratio ♀ :</strong> 12.5</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 55</p>
      <p><strong>Groupes d'œufs :</strong> Flying / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 15</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1247</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
