<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>DiglettAlola</h1>
    <h2>#50 - Mole Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 74</div>
    <div><strong>Forme :</strong> Alola</div>
    <div><strong>Type :</strong> Ground / Steel</div>
    <div><strong>Taille :</strong> 0.2</div>
    <div><strong>Poids :</strong> 1</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Sand Veil</strong> -> Boosts the Pokemons evasiveness in a sandstorm.</p>
      <p><strong>Tangling Hair</strong> -> Contact with the Pokemon lowers the attackers Speed stat.</p>
      <p><strong>Sand Force</strong> -> Boosts the power of Rock-, Ground-, and Steel-type moves in a sandstorm.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 10</div>
      <div>Attaque : 55</div>
      <div>Défense : 30</div>
      <div>Att. Spé : 35</div>
      <div>Déf. Spé : 45</div>
      <div>Vitesse : 90</div>
      <div class="total">Total : 265</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 255</p>
      <p><strong>Groupes d'œufs :</strong> Field / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
