<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Dondozo</h1>
    <h2>#977 - Big Catfish Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1705</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / NULL</div>
    <div><strong>Taille :</strong> 12</div>
    <div><strong>Poids :</strong> 220</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Unaware</strong> -> When attacking, the Pokemon ignores the target Pokemons stat changes.</p>
      <p><strong>Oblivious</strong> -> The Pokemon is oblivious, and that keeps it from being infatuated or falling for taunts.</p>
      <p><strong>Water Veil</strong> -> The Pokemon is covered with a water veil, which prevents the Pokemon from getting a burn.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 150</div>
      <div>Attaque : 100</div>
      <div>Défense : 115</div>
      <div>Att. Spé : 65</div>
      <div>Déf. Spé : 65</div>
      <div>Vitesse : 35</div>
      <div class="total">Total : 530</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 25</p>
      <p><strong>Groupes d'œufs :</strong> Water 2 / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 40</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
