<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Dragonite</h1>
    <h2>#149 - Dragon Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 244</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Dragon / Flying</div>
    <div><strong>Taille :</strong> 2.2</div>
    <div><strong>Poids :</strong> 210</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Inner Focus</strong> -> The Pokemons intensely focused, and that protects the Pokemon from flinching.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Multiscale</strong> -> Reduces the amount of damage the Pokemon takes while its HP is full.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 91</div>
      <div>Attaque : 134</div>
      <div>Défense : 95</div>
      <div>Att. Spé : 100</div>
      <div>Déf. Spé : 100</div>
      <div>Vitesse : 80</div>
      <div class="total">Total : 600</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 35</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Dragon</p>
      <p><strong>Cycles d'œufs :</strong> 40</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 243</p>
    <p><strong>Détails :</strong> Level 55</p>
  </section>

</div>

</body>
</html>
