<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Electivire</h1>
    <h2>#466 - Thunderbolt Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 688</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Electric / NULL</div>
    <div><strong>Taille :</strong> 1.8</div>
    <div><strong>Poids :</strong> 138.6</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Motor Drive</strong> -> Boosts its Speed stat if hit by an Electric-type move instead of taking damage.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Vital Spirit</strong> -> The Pokemon is full of vitality, and that prevents it from falling asleep.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 75</div>
      <div>Attaque : 123</div>
      <div>Défense : 67</div>
      <div>Att. Spé : 95</div>
      <div>Déf. Spé : 85</div>
      <div>Vitesse : 95</div>
      <div class="total">Total : 540</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 75</p>
      <p><strong>Ratio ♀ :</strong> 25</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 30</p>
      <p><strong>Groupes d'œufs :</strong> Human-Like / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 25</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 221</p>
    <p><strong>Détails :</strong> Electirizer</p>
  </section>

</div>

</body>
</html>
