<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Escavalier</h1>
    <h2>#589 - Cavalry Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 959</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Bug / Steel</div>
    <div><strong>Taille :</strong> 1</div>
    <div><strong>Poids :</strong> 33</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Swarm</strong> -> Powers up Bug-type moves when the Pokemons HP is low.</p>
      <p><strong>Shell Armor</strong> -> A hard shell protects the Pokemon from critical hits.</p>
      <p><strong>Overcoat</strong> -> Protects the Pokemon from things like sand, hail, and powder.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 70</div>
      <div>Attaque : 135</div>
      <div>Défense : 105</div>
      <div>Att. Spé : 60</div>
      <div>Déf. Spé : 105</div>
      <div>Vitesse : 20</div>
      <div class="total">Total : 495</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 75</p>
      <p><strong>Groupes d'œufs :</strong> Bug / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 15</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 958</p>
    <p><strong>Détails :</strong> With Shelmet</p>
  </section>

</div>

</body>
</html>
