<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Feebas</h1>
    <h2>#349 - Fish Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 477</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / NULL</div>
    <div><strong>Taille :</strong> 0.6</div>
    <div><strong>Poids :</strong> 7.4</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Swift Swim</strong> -> Boosts the Pokemons Speed stat in rain.</p>
      <p><strong>Oblivious</strong> -> The Pokemon is oblivious, and that keeps it from being infatuated or falling for taunts.</p>
      <p><strong>Adaptability</strong> -> Powers up moves of the same type as the Pokemon.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 20</div>
      <div>Attaque : 15</div>
      <div>Défense : 20</div>
      <div>Att. Spé : 10</div>
      <div>Déf. Spé : 55</div>
      <div>Vitesse : 80</div>
      <div class="total">Total : 200</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 255</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Dragon</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
