<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Ferroseed</h1>
    <h2>#597 - Thorn Seed Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 968</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Grass / Steel</div>
    <div><strong>Taille :</strong> 0.6</div>
    <div><strong>Poids :</strong> 18.8</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Iron Barbs</strong> -> Inflicts damage on the attacker upon contact with iron barbs.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 44</div>
      <div>Attaque : 50</div>
      <div>Défense : 91</div>
      <div>Att. Spé : 24</div>
      <div>Déf. Spé : 86</div>
      <div>Vitesse : 10</div>
      <div class="total">Total : 305</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 255</p>
      <p><strong>Groupes d'œufs :</strong> Grass / Mineral</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
