<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Frosmoth</h1>
    <h2>#873 - Frost Moth Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1482</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Ice / Bug</div>
    <div><strong>Taille :</strong> 1.3</div>
    <div><strong>Poids :</strong> 42</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Shield Dust</strong> -> This Pokemons dust blocks the additional effects of attacks taken.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Ice Scales</strong> -> The Pokemon is protected by ice scales, which halve the damage taken from special moves.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 70</div>
      <div>Attaque : 65</div>
      <div>Défense : 60</div>
      <div>Att. Spé : 125</div>
      <div>Déf. Spé : 90</div>
      <div>Vitesse : 65</div>
      <div class="total">Total : 475</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 75</p>
      <p><strong>Groupes d'œufs :</strong> Bug / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1481</p>
    <p><strong>Détails :</strong> During The Night</p>
  </section>

</div>

</body>
</html>
