<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Garchomp</h1>
    <h2>#445 - Mach Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 643</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Dragon / Ground</div>
    <div><strong>Taille :</strong> 1.9</div>
    <div><strong>Poids :</strong> 95</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Sand Veil</strong> -> Boosts the Pokemons evasiveness in a sandstorm.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Rough Skin</strong> -> This Pokemon inflicts damage with its rough skin to the attacker on contact.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 108</div>
      <div>Attaque : 130</div>
      <div>Défense : 95</div>
      <div>Att. Spé : 80</div>
      <div>Déf. Spé : 85</div>
      <div>Vitesse : 102</div>
      <div class="total">Total : 600</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Monster / Dragon</p>
      <p><strong>Cycles d'œufs :</strong> 40</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 642</p>
    <p><strong>Détails :</strong> Level 48</p>
  </section>

</div>

</body>
</html>
