<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Gholdengo</h1>
    <h2>#1000 - Coin Entity Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1681</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Steel / Ghost</div>
    <div><strong>Taille :</strong> 1.2</div>
    <div><strong>Poids :</strong> 30</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Good as Gold</strong> -> A body of pure, solid gold gives the Pokemon full immunity to other Pokemons status moves.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 87</div>
      <div>Attaque : 60</div>
      <div>Défense : 95</div>
      <div>Att. Spé : 133</div>
      <div>Déf. Spé : 97</div>
      <div>Vitesse : 84</div>
      <div class="total">Total : 556</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> No Eggs Discovered / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 50</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1665</p>
    <p><strong>Détails :</strong> While Having 999 Gimmighoul Coins</p>
  </section>

</div>

</body>
</html>
