<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Golett</h1>
    <h2>#622 - Automaton Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 996</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Ground / Ghost</div>
    <div><strong>Taille :</strong> 1</div>
    <div><strong>Poids :</strong> 92</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Iron Fist</strong> -> Powers up punching moves.</p>
      <p><strong>Klutz</strong> -> The Pokemon cant use any held items.</p>
      <p><strong>No Guard</strong> -> The Pokemon employs no-guard tactics to ensure incoming and outgoing attacks always land.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 59</div>
      <div>Attaque : 74</div>
      <div>Défense : 50</div>
      <div>Att. Spé : 35</div>
      <div>Déf. Spé : 50</div>
      <div>Vitesse : 35</div>
      <div class="total">Total : 303</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 190</p>
      <p><strong>Groupes d'œufs :</strong> Mineral / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 25</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
