<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Goodra</h1>
    <h2>#706 - Dragon Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1135</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Dragon / NULL</div>
    <div><strong>Taille :</strong> 2</div>
    <div><strong>Poids :</strong> 150.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Sap Sipper</strong> -> Boosts the Attack stat if hit by a Grass-type move instead of taking damage.</p>
      <p><strong>Hydration</strong> -> Heals status conditions if its raining.</p>
      <p><strong>Gooey</strong> -> Contact with the Pokemon lowers the attackers Speed stat.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 90</div>
      <div>Attaque : 100</div>
      <div>Défense : 70</div>
      <div>Att. Spé : 110</div>
      <div>Déf. Spé : 150</div>
      <div>Vitesse : 80</div>
      <div class="total">Total : 600</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 35</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Dragon / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 40</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1134</p>
    <p><strong>Détails :</strong> Level 50 When Raining Or Foggy Outside Battle</p>
  </section>

</div>

</body>
</html>
