<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Hydrapple</h1>
    <h2>#1019 - Apple Hydra Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1883</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Grass / Dragon</div>
    <div><strong>Taille :</strong> 1.8</div>
    <div><strong>Poids :</strong> 93</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Supersweet Syrup</strong> -> The scent of the Pokemons syrup spreads across the battlefield, lowering the evasiveness of opposing Pokemon.</p>
      <p><strong>Regenerator</strong> -> Restores a little HP when withdrawn from battle.</p>
      <p><strong>Sticky Hold</strong> -> Items held by the Pokemon are stuck fast and cannot be removed by other Pokemon.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 106</div>
      <div>Attaque : 80</div>
      <div>Défense : 110</div>
      <div>Att. Spé : 120</div>
      <div>Déf. Spé : 80</div>
      <div>Vitesse : 44</div>
      <div class="total">Total : 540</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 10</p>
      <p><strong>Groupes d'œufs :</strong> Grass / Dragon</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1870</p>
    <p><strong>Détails :</strong> Knowing Dragon Cheer</p>
  </section>

</div>

</body>
</html>
