<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Indeedee</h1>
    <h2>#876 - Emotion Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1477</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Psychic / Normal</div>
    <div><strong>Taille :</strong> 0.9</div>
    <div><strong>Poids :</strong> 28</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Inner Focus</strong> -> The Pokemons intensely focused, and that protects the Pokemon from flinching.</p>
      <p><strong>Synchronize</strong> -> The attacker will receive the same status condition if it inflicts a burn, poison, or paralysis to the Pokemon.</p>
      <p><strong>Psychic Surge</strong> -> Turns the ground into Psychic Terrain when the Pokemon enters a battle.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 60</div>
      <div>Attaque : 65</div>
      <div>Défense : 55</div>
      <div>Att. Spé : 105</div>
      <div>Déf. Spé : 95</div>
      <div>Vitesse : 95</div>
      <div class="total">Total : 475</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 100</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 140</p>
      <p><strong>Taux de capture :</strong> 30</p>
      <p><strong>Groupes d'œufs :</strong> Fairy / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 40</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
