<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>InteleonGigantamax</h1>
    <h2>#818 - Secret Agent Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1527</div>
    <div><strong>Forme :</strong> Gigantamax</div>
    <div><strong>Type :</strong> Water / NULL</div>
    <div><strong>Taille :</strong> 40</div>
    <div><strong>Poids :</strong> 0</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Torrent</strong> -> Powers up Water-type moves when the Pokemons HP is low.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Sniper</strong> -> Powers up moves if they become critical hits when attacking.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 70</div>
      <div>Attaque : 85</div>
      <div>Défense : 65</div>
      <div>Att. Spé : 125</div>
      <div>Déf. Spé : 65</div>
      <div>Vitesse : 120</div>
      <div class="total">Total : 530</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 87.5</p>
      <p><strong>Ratio ♀ :</strong> 12.5</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Field</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
