<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>IronHands</h1>
    <h2>#992 - Paradox Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1745</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Fighting / Electric</div>
    <div><strong>Taille :</strong> 1.8</div>
    <div><strong>Poids :</strong> 380.7</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Quark Drive</strong> -> Boosts the Pokemons most proficient stat on Electric Terrain or if the Pokemon is holding Booster Energy.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 154</div>
      <div>Attaque : 140</div>
      <div>Défense : 108</div>
      <div>Att. Spé : 50</div>
      <div>Déf. Spé : 68</div>
      <div>Vitesse : 50</div>
      <div class="total">Total : 570</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 0</p>
      <p><strong>Taux de capture :</strong> 50</p>
      <p><strong>Groupes d'œufs :</strong> No Eggs Discovered / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 50</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
