<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Jellicent</h1>
    <h2>#593 - Floating Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 964</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / Ghost</div>
    <div><strong>Taille :</strong> 2.2</div>
    <div><strong>Poids :</strong> 135</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Water Absorb</strong> -> Restores HP if hit by a Water-type move instead of taking damage.</p>
      <p><strong>Cursed Body</strong> -> May disable a move used on the Pokemon.</p>
      <p><strong>Damp</strong> -> Prevents the use of explosive moves, such as Self-Destruct, by dampening its surroundings.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 100</div>
      <div>Attaque : 60</div>
      <div>Défense : 70</div>
      <div>Att. Spé : 85</div>
      <div>Déf. Spé : 105</div>
      <div>Vitesse : 60</div>
      <div class="total">Total : 480</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 60</p>
      <p><strong>Groupes d'œufs :</strong> Amorphous / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 963</p>
    <p><strong>Détails :</strong> Level 40</p>
  </section>

</div>

</body>
</html>
