<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Ledyba</h1>
    <h2>#165 - Five Star Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 258</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Bug / Flying</div>
    <div><strong>Taille :</strong> 1</div>
    <div><strong>Poids :</strong> 10.8</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Swarm</strong> -> Powers up Bug-type moves when the Pokemons HP is low.</p>
      <p><strong>Early Bird</strong> -> The Pokemon awakens from sleep twice as fast as other Pokemon.</p>
      <p><strong>Rattled</strong> -> Dark-, Ghost-, and Bug-type moves scare the Pokemon and boost its Speed stat.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 40</div>
      <div>Attaque : 20</div>
      <div>Défense : 30</div>
      <div>Att. Spé : 40</div>
      <div>Déf. Spé : 80</div>
      <div>Vitesse : 55</div>
      <div class="total">Total : 265</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 255</p>
      <p><strong>Groupes d'œufs :</strong> Bug / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 15</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
