<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>LilligantHisui</h1>
    <h2>#549 - Spinning Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1640</div>
    <div><strong>Forme :</strong> Hisui</div>
    <div><strong>Type :</strong> Grass / Fighting</div>
    <div><strong>Taille :</strong> 1.2</div>
    <div><strong>Poids :</strong> 19.2</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Chlorophyll</strong> -> Boosts the Pokemons Speed stat in harsh sunlight.</p>
      <p><strong>Hustle</strong> -> Boosts the Attack stat, but lowers accuracy.</p>
      <p><strong>Leaf Guard</strong> -> Prevents status conditions in harsh sunlight.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 70</div>
      <div>Attaque : 105</div>
      <div>Défense : 75</div>
      <div>Att. Spé : 50</div>
      <div>Déf. Spé : 75</div>
      <div>Vitesse : 105</div>
      <div class="total">Total : 480</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 100</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 135</p>
      <p><strong>Groupes d'œufs :</strong> Grass / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 882</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
