<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Lokix</h1>
    <h2>#920 - Grasshopper Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1715</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Bug / Dark</div>
    <div><strong>Taille :</strong> 1</div>
    <div><strong>Poids :</strong> 17.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Swarm</strong> -> Powers up Bug-type moves when the Pokemons HP is low.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Tinted Lens</strong> -> The Pokemon can use not very effective moves to deal regular damage.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 71</div>
      <div>Attaque : 102</div>
      <div>Défense : 78</div>
      <div>Att. Spé : 52</div>
      <div>Déf. Spé : 55</div>
      <div>Vitesse : 92</div>
      <div class="total">Total : 450</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 0</p>
      <p><strong>Taux de capture :</strong> 30</p>
      <p><strong>Groupes d'œufs :</strong> Bug / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1714</p>
    <p><strong>Détails :</strong> Level 24</p>
  </section>

</div>

</body>
</html>
