<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Lombre</h1>
    <h2>#271 - Jolly Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 399</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / Grass</div>
    <div><strong>Taille :</strong> 1.2</div>
    <div><strong>Poids :</strong> 32.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Swift Swim</strong> -> Boosts the Pokemons Speed stat in rain.</p>
      <p><strong>Rain Dish</strong> -> The Pokemon gradually regains HP in rain.</p>
      <p><strong>Own Tempo</strong> -> This Pokemon has its own tempo, and that prevents it from becoming confused.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 60</div>
      <div>Attaque : 50</div>
      <div>Défense : 50</div>
      <div>Att. Spé : 60</div>
      <div>Déf. Spé : 70</div>
      <div>Vitesse : 50</div>
      <div class="total">Total : 340</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 120</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Grass</p>
      <p><strong>Cycles d'œufs :</strong> 15</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 398</p>
    <p><strong>Détails :</strong> Level 14</p>
  </section>

</div>

</body>
</html>
