<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>LucarioMega</h1>
    <h2>#448 - Aura Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1561</div>
    <div><strong>Forme :</strong> Mega</div>
    <div><strong>Type :</strong> Fighting / Steel</div>
    <div><strong>Taille :</strong> 1.3</div>
    <div><strong>Poids :</strong> 57.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Adaptability</strong> -> Powers up moves of the same type as the Pokemon.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 70</div>
      <div>Attaque : 145</div>
      <div>Défense : 88</div>
      <div>Att. Spé : 140</div>
      <div>Déf. Spé : 70</div>
      <div>Vitesse : 112</div>
      <div class="total">Total : 625</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 87.5</p>
      <p><strong>Ratio ♀ :</strong> 12.5</p>
      <p><strong>Bonheur de base :</strong> 70</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Field / Human-Like</p>
      <p><strong>Cycles d'œufs :</strong> 25</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
