<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Lumineon</h1>
    <h2>#457 - Neon Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 655</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / NULL</div>
    <div><strong>Taille :</strong> 1.2</div>
    <div><strong>Poids :</strong> 24</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Swift Swim</strong> -> Boosts the Pokemons Speed stat in rain.</p>
      <p><strong>Storm Drain</strong> -> Draws in all Water-type moves. Instead of being hit by Water-type moves, it boosts its Sp. Atk.</p>
      <p><strong>Water Veil</strong> -> The Pokemon is covered with a water veil, which prevents the Pokemon from getting a burn.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 69</div>
      <div>Attaque : 69</div>
      <div>Défense : 76</div>
      <div>Att. Spé : 69</div>
      <div>Déf. Spé : 86</div>
      <div>Vitesse : 91</div>
      <div class="total">Total : 460</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 75</p>
      <p><strong>Groupes d'œufs :</strong> Water 2 / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 654</p>
    <p><strong>Détails :</strong> Level 31</p>
  </section>

</div>

</body>
</html>
