<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Lurantis</h1>
    <h2>#754 - Bloom Sickle Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1281</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Grass / NULL</div>
    <div><strong>Taille :</strong> 0.9</div>
    <div><strong>Poids :</strong> 18.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Leaf Guard</strong> -> Prevents status conditions in harsh sunlight.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Contrary</strong> -> Makes stat changes have an opposite effect.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 70</div>
      <div>Attaque : 105</div>
      <div>Défense : 90</div>
      <div>Att. Spé : 80</div>
      <div>Déf. Spé : 90</div>
      <div>Vitesse : 45</div>
      <div class="total">Total : 480</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 75</p>
      <p><strong>Groupes d'œufs :</strong> Grass / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1280</p>
    <p><strong>Détails :</strong> Level 34 During The Day</p>
  </section>

</div>

</body>
</html>
