<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Luxio</h1>
    <h2>#404 - Spark Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 21</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Electric / NULL</div>
    <div><strong>Taille :</strong> 0.9</div>
    <div><strong>Poids :</strong> 30.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Rivalry</strong> -> Becomes competitive and deals more damage to Pokemon of the same gender, but deals less to Pokemon of the opposite gender.</p>
      <p><strong>Intimidate</strong> -> The Pokemon intimidates opposing Pokemon upon entering battle, lowering their Attack stat.</p>
      <p><strong>Guts</strong> -> Its so gutsy that having a status condition boosts the Pokemons Attack stat.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 60</div>
      <div>Attaque : 85</div>
      <div>Défense : 49</div>
      <div>Att. Spé : 60</div>
      <div>Déf. Spé : 49</div>
      <div>Vitesse : 60</div>
      <div class="total">Total : 363</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 100</p>
      <p><strong>Taux de capture :</strong> 120</p>
      <p><strong>Groupes d'œufs :</strong> Field / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 20</p>
    <p><strong>Détails :</strong> Level 15</p>
  </section>

</div>

</body>
</html>
