<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Maractus</h1>
    <h2>#556 - Cactus Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 891</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Grass / NULL</div>
    <div><strong>Taille :</strong> 1</div>
    <div><strong>Poids :</strong> 28</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Water Absorb</strong> -> Restores HP if hit by a Water-type move instead of taking damage.</p>
      <p><strong>Chlorophyll</strong> -> Boosts the Pokemons Speed stat in harsh sunlight.</p>
      <p><strong>Storm Drain</strong> -> Draws in all Water-type moves. Instead of being hit by Water-type moves, it boosts its Sp. Atk.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 75</div>
      <div>Attaque : 86</div>
      <div>Défense : 67</div>
      <div>Att. Spé : 106</div>
      <div>Déf. Spé : 67</div>
      <div>Vitesse : 60</div>
      <div class="total">Total : 461</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 255</p>
      <p><strong>Groupes d'œufs :</strong> Grass / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
