<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Meowscarada</h1>
    <h2>#908 - Magician Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1667</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Grass / Dark</div>
    <div><strong>Taille :</strong> 1.5</div>
    <div><strong>Poids :</strong> 31.2</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Overgrow</strong> -> Powers up Grass-type moves when the Pokemons HP is low.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Protean</strong> -> Changes the Pokemons type to the type of the move its about to use.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 76</div>
      <div>Attaque : 110</div>
      <div>Défense : 70</div>
      <div>Att. Spé : 81</div>
      <div>Déf. Spé : 70</div>
      <div>Vitesse : 123</div>
      <div class="total">Total : 530</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 87.5</p>
      <p><strong>Ratio ♀ :</strong> 12.5</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Field / Grass</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1666</p>
    <p><strong>Détails :</strong> Level 36</p>
  </section>

</div>

</body>
</html>
