<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>MiniorRedCore</h1>
    <h2>#774 - Meteor Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1564</div>
    <div><strong>Forme :</strong> Red Core</div>
    <div><strong>Type :</strong> Rock / Flying</div>
    <div><strong>Taille :</strong> 0.3</div>
    <div><strong>Poids :</strong> 0.3</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Shields Down</strong> -> When its HP becomes half or less, the Pokemons shell breaks and it becomes aggressive.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 60</div>
      <div>Attaque : 100</div>
      <div>Défense : 60</div>
      <div>Att. Spé : 100</div>
      <div>Déf. Spé : 60</div>
      <div>Vitesse : 120</div>
      <div class="total">Total : 500</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 70</p>
      <p><strong>Taux de capture :</strong> 30</p>
      <p><strong>Groupes d'œufs :</strong> Mineral / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 25</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
