<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Morgrem</h1>
    <h2>#860 - Devious Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1519</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Dark / Fairy</div>
    <div><strong>Taille :</strong> 0.8</div>
    <div><strong>Poids :</strong> 12.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Prankster</strong> -> Gives priority to a status move.</p>
      <p><strong>Frisk</strong> -> When it enters a battle, the Pokemon can check an opposing Pokemons held item.</p>
      <p><strong>Pickpocket</strong> -> Steals an item from an attacker that made direct contact.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 65</div>
      <div>Attaque : 60</div>
      <div>Défense : 45</div>
      <div>Att. Spé : 75</div>
      <div>Déf. Spé : 55</div>
      <div>Vitesse : 70</div>
      <div class="total">Total : 370</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 100</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 120</p>
      <p><strong>Groupes d'œufs :</strong> Fairy / Human-Like</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1518</p>
    <p><strong>Détails :</strong> Level 32</p>
  </section>

</div>

</body>
</html>
