<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Nacli</h1>
    <h2>#932 - Rock Salt Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1750</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Rock / NULL</div>
    <div><strong>Taille :</strong> 0.4</div>
    <div><strong>Poids :</strong> 16</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Purifying Salt</strong> -> The Pokemons pure salt protects it from status conditions and halves the damage taken from Ghost-type moves.</p>
      <p><strong>Sturdy</strong> -> It cannot be knocked out with one hit. One-hit KO moves cannot knock it out, either.</p>
      <p><strong>Clear Body</strong> -> Prevents other Pokemons moves or Abilities from lowering the Pokemons stats.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 55</div>
      <div>Attaque : 55</div>
      <div>Défense : 75</div>
      <div>Att. Spé : 35</div>
      <div>Déf. Spé : 35</div>
      <div>Vitesse : 25</div>
      <div class="total">Total : 280</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 255</p>
      <p><strong>Groupes d'œufs :</strong> Mineral / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
