<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Noctowl</h1>
    <h2>#164 - Owl Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 257</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Normal / Flying</div>
    <div><strong>Taille :</strong> 1.6</div>
    <div><strong>Poids :</strong> 40.8</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Insomnia</strong> -> The Pokemon is suffering from insomnia and cannot fall asleep.</p>
      <p><strong>Keen Eye</strong> -> Keen eyes prevent other Pokemon from lowering this Pokemons accuracy.</p>
      <p><strong>Tinted Lens</strong> -> The Pokemon can use not very effective moves to deal regular damage.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 100</div>
      <div>Attaque : 50</div>
      <div>Défense : 50</div>
      <div>Att. Spé : 86</div>
      <div>Déf. Spé : 96</div>
      <div>Vitesse : 70</div>
      <div class="total">Total : 452</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 90</p>
      <p><strong>Groupes d'œufs :</strong> Flying / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 15</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 256</p>
    <p><strong>Détails :</strong> Level 20</p>
  </section>

</div>

</body>
</html>
