<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Okidogi</h1>
    <h2>#1014 - Retainer Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1767</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Poison / Fighting</div>
    <div><strong>Taille :</strong> 1.8</div>
    <div><strong>Poids :</strong> 92</div>
    <div><strong>Statut :</strong> Sub-Legendary</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Toxic Chain</strong> -> May badly poison the opponent when the user lands a move against them.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Guard Dog</strong> -> Boosts the Pokemons Attack stat if intimidated. Moves and items that would force the Pokemon to switch out also fail to work.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 88</div>
      <div>Attaque : 128</div>
      <div>Défense : 115</div>
      <div>Att. Spé : 58</div>
      <div>Déf. Spé : 86</div>
      <div>Vitesse : 80</div>
      <div class="total">Total : 555</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 100</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 0</p>
      <p><strong>Taux de capture :</strong> 3</p>
      <p><strong>Groupes d'œufs :</strong> No Eggs Discovered / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 120</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
