<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Omastar</h1>
    <h2>#139 - Spiral Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 234</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Rock / Water</div>
    <div><strong>Taille :</strong> 1</div>
    <div><strong>Poids :</strong> 35</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Swift Swim</strong> -> Boosts the Pokemons Speed stat in rain.</p>
      <p><strong>Shell Armor</strong> -> A hard shell protects the Pokemon from critical hits.</p>
      <p><strong>Weak Armor</strong> -> Physical attacks to the Pokemon lower its Defense stat but sharply raise its Speed stat.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 70</div>
      <div>Attaque : 60</div>
      <div>Défense : 125</div>
      <div>Att. Spé : 115</div>
      <div>Déf. Spé : 70</div>
      <div>Vitesse : 55</div>
      <div class="total">Total : 495</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 87.5</p>
      <p><strong>Ratio ♀ :</strong> 12.5</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Water 3</p>
      <p><strong>Cycles d'œufs :</strong> 30</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 233</p>
    <p><strong>Détails :</strong> Level 40</p>
  </section>

</div>

</body>
</html>
