<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Paras</h1>
    <h2>#46 - Mushroom Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 68</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Bug / Grass</div>
    <div><strong>Taille :</strong> 0.3</div>
    <div><strong>Poids :</strong> 5.4</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Effect Spore</strong> -> Contact with the Pokemon may inflict poison, sleep, or paralysis on its attacker.</p>
      <p><strong>Dry Skin</strong> -> Restores HP in rain or when hit by Water-type moves. Reduces HP in harsh sunlight, and increases the damage received from Fire-type moves.</p>
      <p><strong>Damp</strong> -> Prevents the use of explosive moves, such as Self-Destruct, by dampening its surroundings.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 35</div>
      <div>Attaque : 70</div>
      <div>Défense : 55</div>
      <div>Att. Spé : 45</div>
      <div>Déf. Spé : 55</div>
      <div>Vitesse : 25</div>
      <div class="total">Total : 285</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 190</p>
      <p><strong>Groupes d'œufs :</strong> Bug / Grass</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
