<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Pelipper</h1>
    <h2>#279 - Water Bird Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 407</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / Flying</div>
    <div><strong>Taille :</strong> 1.2</div>
    <div><strong>Poids :</strong> 28</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Keen Eye</strong> -> Keen eyes prevent other Pokemon from lowering this Pokemons accuracy.</p>
      <p><strong>Drizzle</strong> -> The Pokemon makes it rain when it enters a battle.</p>
      <p><strong>Rain Dish</strong> -> The Pokemon gradually regains HP in rain.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 60</div>
      <div>Attaque : 50</div>
      <div>Défense : 100</div>
      <div>Att. Spé : 95</div>
      <div>Déf. Spé : 70</div>
      <div>Vitesse : 65</div>
      <div class="total">Total : 440</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Flying</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 406</p>
    <p><strong>Détails :</strong> Level 25</p>
  </section>

</div>

</body>
</html>
