<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Phione</h1>
    <h2>#489 - Sea Drifter Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 36</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / NULL</div>
    <div><strong>Taille :</strong> 0.4</div>
    <div><strong>Poids :</strong> 3.1</div>
    <div><strong>Statut :</strong> Mythical</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Hydration</strong> -> Heals status conditions if its raining.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 80</div>
      <div>Attaque : 80</div>
      <div>Défense : 80</div>
      <div>Att. Spé : 80</div>
      <div>Déf. Spé : 80</div>
      <div>Vitesse : 80</div>
      <div class="total">Total : 480</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 30</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Fairy</p>
      <p><strong>Cycles d'œufs :</strong> 40</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
