<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Quaquaval</h1>
    <h2>#914 - Dancer Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1675</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / Fighting</div>
    <div><strong>Taille :</strong> 1.8</div>
    <div><strong>Poids :</strong> 61.9</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Torrent</strong> -> Powers up Water-type moves when the Pokemons HP is low.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Moxie</strong> -> The Pokemon shows moxie, and that boosts the Attack stat after knocking out any Pokemon.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 85</div>
      <div>Attaque : 120</div>
      <div>Défense : 80</div>
      <div>Att. Spé : 85</div>
      <div>Déf. Spé : 75</div>
      <div>Vitesse : 85</div>
      <div class="total">Total : 530</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 87.5</p>
      <p><strong>Ratio ♀ :</strong> 12.5</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Flying / Water 1</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1674</p>
    <p><strong>Détails :</strong> Level 36</p>
  </section>

</div>

</body>
</html>
