<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Rabsca</h1>
    <h2>#954 - Rolling Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1701</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Bug / Psychic</div>
    <div><strong>Taille :</strong> 0.3</div>
    <div><strong>Poids :</strong> 3.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Synchronize</strong> -> The attacker will receive the same status condition if it inflicts a burn, poison, or paralysis to the Pokemon.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Telepathy</strong> -> Anticipates an allys attack and dodges it.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 75</div>
      <div>Attaque : 50</div>
      <div>Défense : 85</div>
      <div>Att. Spé : 115</div>
      <div>Déf. Spé : 100</div>
      <div>Vitesse : 45</div>
      <div class="total">Total : 470</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Bug / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1700</p>
    <p><strong>Détails :</strong> After Walking 1000 Steps using Lets Go</p>
  </section>

</div>

</body>
</html>
