<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Remoraid</h1>
    <h2>#223 - Jet Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 347</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / NULL</div>
    <div><strong>Taille :</strong> 0.6</div>
    <div><strong>Poids :</strong> 12</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Hustle</strong> -> Boosts the Attack stat, but lowers accuracy.</p>
      <p><strong>Sniper</strong> -> Powers up moves if they become critical hits when attacking.</p>
      <p><strong>Moody</strong> -> Raises one stat sharply and lowers another every turn.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 35</div>
      <div>Attaque : 65</div>
      <div>Défense : 35</div>
      <div>Att. Spé : 65</div>
      <div>Déf. Spé : 35</div>
      <div>Vitesse : 65</div>
      <div class="total">Total : 300</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 190</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Water 2</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
