<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Runerigus</h1>
    <h2>#867 - Grudge Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1465</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Ground / Ghost</div>
    <div><strong>Taille :</strong> 1.6</div>
    <div><strong>Poids :</strong> 66.6</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Wandering Spirit</strong> -> The Pokemon exchanges Abilities with a Pokemon that hits it with a move that makes direct contact.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 58</div>
      <div>Attaque : 95</div>
      <div>Défense : 145</div>
      <div>Att. Spé : 50</div>
      <div>Déf. Spé : 105</div>
      <div>Vitesse : 30</div>
      <div class="total">Total : 483</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 90</p>
      <p><strong>Groupes d'œufs :</strong> Mineral / Amorphous</p>
      <p><strong>Cycles d'œufs :</strong> 25</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1464</p>
    <p><strong>Détails :</strong> Take 49+ Damage and Travel Under Stone Bridge in Dusty Bowl in Galar</p>
  </section>

</div>

</body>
</html>
