<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Salazzle</h1>
    <h2>#758 - Toxic Lizard Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1285</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Poison / Fire</div>
    <div><strong>Taille :</strong> 1.2</div>
    <div><strong>Poids :</strong> 22.2</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Corrosion</strong> -> The Pokemon can poison the target even if its a Steel or Poison type.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Oblivious</strong> -> The Pokemon is oblivious, and that keeps it from being infatuated or falling for taunts.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 68</div>
      <div>Attaque : 64</div>
      <div>Défense : 60</div>
      <div>Att. Spé : 111</div>
      <div>Déf. Spé : 60</div>
      <div>Vitesse : 117</div>
      <div class="total">Total : 480</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 100</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Monster / Dragon</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1284</p>
    <p><strong>Détails :</strong> Level 33 When Female</p>
  </section>

</div>

</body>
</html>
