<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Seismitoad</h1>
    <h2>#537 - Vibration Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 871</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / Ground</div>
    <div><strong>Taille :</strong> 1.5</div>
    <div><strong>Poids :</strong> 62</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Swift Swim</strong> -> Boosts the Pokemons Speed stat in rain.</p>
      <p><strong>Poison Touch</strong> -> May poison a target when the Pokemon makes contact.</p>
      <p><strong>Water Absorb</strong> -> Restores HP if hit by a Water-type move instead of taking damage.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 105</div>
      <div>Attaque : 95</div>
      <div>Défense : 75</div>
      <div>Att. Spé : 85</div>
      <div>Déf. Spé : 75</div>
      <div>Vitesse : 74</div>
      <div class="total">Total : 509</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 45</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 870</p>
    <p><strong>Détails :</strong> Level 36</p>
  </section>

</div>

</body>
</html>
