<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>SinistchaMasterpiece</h1>
    <h2>#1013 - Matcha Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1878</div>
    <div><strong>Forme :</strong> Masterpiece</div>
    <div><strong>Type :</strong> Grass / Ghost</div>
    <div><strong>Taille :</strong> 0.2</div>
    <div><strong>Poids :</strong> 2.2</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Hospitality</strong> -> Restores allies HP upon entering battle.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Heatproof</strong> -> The heatproof body of the Pokemon halves the damage from Fire-type moves that hit it.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 71</div>
      <div>Attaque : 60</div>
      <div>Défense : 106</div>
      <div>Att. Spé : 121</div>
      <div>Déf. Spé : 80</div>
      <div>Vitesse : 70</div>
      <div class="total">Total : 508</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 60</p>
      <p><strong>Groupes d'œufs :</strong> Mineral / Amorphous</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1877</p>
    <p><strong>Détails :</strong> Masterpiece Teacup</p>
  </section>

</div>

</body>
</html>
