<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Skarmory</h1>
    <h2>#227 - Armor Bird Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 351</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Steel / Flying</div>
    <div><strong>Taille :</strong> 1.7</div>
    <div><strong>Poids :</strong> 50.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Keen Eye</strong> -> Keen eyes prevent other Pokemon from lowering this Pokemons accuracy.</p>
      <p><strong>Sturdy</strong> -> It cannot be knocked out with one hit. One-hit KO moves cannot knock it out, either.</p>
      <p><strong>Weak Armor</strong> -> Physical attacks to the Pokemon lower its Defense stat but sharply raise its Speed stat.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 65</div>
      <div>Attaque : 80</div>
      <div>Défense : 140</div>
      <div>Att. Spé : 40</div>
      <div>Déf. Spé : 70</div>
      <div>Vitesse : 70</div>
      <div class="total">Total : 465</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 25</p>
      <p><strong>Groupes d'œufs :</strong> Flying / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 25</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
