<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Skorupi</h1>
    <h2>#451 - Scorpion Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 649</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Poison / Bug</div>
    <div><strong>Taille :</strong> 0.8</div>
    <div><strong>Poids :</strong> 12</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Battle Armor</strong> -> Hard armor protects the Pokemon from critical hits.</p>
      <p><strong>Sniper</strong> -> Powers up moves if they become critical hits when attacking.</p>
      <p><strong>Keen Eye</strong> -> Keen eyes prevent other Pokemon from lowering this Pokemons accuracy.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 40</div>
      <div>Attaque : 50</div>
      <div>Défense : 90</div>
      <div>Att. Spé : 30</div>
      <div>Déf. Spé : 55</div>
      <div>Vitesse : 65</div>
      <div class="total">Total : 330</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 120</p>
      <p><strong>Groupes d'œufs :</strong> Bug / Water 3</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
