<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Slurpuff</h1>
    <h2>#685 - Meringue Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1104</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Fairy / NULL</div>
    <div><strong>Taille :</strong> 0.8</div>
    <div><strong>Poids :</strong> 5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Sweet Veil</strong> -> Prevents itself and ally Pokemon from falling asleep.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Unburden</strong> -> Boosts the Speed stat if the Pokemons held item is used or lost.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 82</div>
      <div>Attaque : 80</div>
      <div>Défense : 86</div>
      <div>Att. Spé : 85</div>
      <div>Déf. Spé : 75</div>
      <div>Vitesse : 72</div>
      <div class="total">Total : 480</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 140</p>
      <p><strong>Groupes d'œufs :</strong> Fairy / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1103</p>
    <p><strong>Détails :</strong> Whipped Dream</p>
  </section>

</div>

</body>
</html>
