<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>SneaselHisui</h1>
    <h2>#215 - Sharp Claw Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1630</div>
    <div><strong>Forme :</strong> Hisui</div>
    <div><strong>Type :</strong> Fighting / Poison</div>
    <div><strong>Taille :</strong> 0.9</div>
    <div><strong>Poids :</strong> 27</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Inner Focus</strong> -> The Pokemons intensely focused, and that protects the Pokemon from flinching.</p>
      <p><strong>Keen Eye</strong> -> Keen eyes prevent other Pokemon from lowering this Pokemons accuracy.</p>
      <p><strong>Pickpocket</strong> -> Steals an item from an attacker that made direct contact.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 55</div>
      <div>Attaque : 95</div>
      <div>Défense : 55</div>
      <div>Att. Spé : 35</div>
      <div>Déf. Spé : 75</div>
      <div>Vitesse : 115</div>
      <div class="total">Total : 430</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 35</p>
      <p><strong>Taux de capture :</strong> 235</p>
      <p><strong>Groupes d'œufs :</strong> Field / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
