<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Steelix</h1>
    <h2>#208 - Iron Snake Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 332</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Steel / Ground</div>
    <div><strong>Taille :</strong> 9.2</div>
    <div><strong>Poids :</strong> 400</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Rock Head</strong> -> Protects the Pokemon from recoil damage.</p>
      <p><strong>Sturdy</strong> -> It cannot be knocked out with one hit. One-hit KO moves cannot knock it out, either.</p>
      <p><strong>Sheer Force</strong> -> Removes additional effects to increase the power of moves when attacking.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 75</div>
      <div>Attaque : 85</div>
      <div>Défense : 200</div>
      <div>Att. Spé : 55</div>
      <div>Déf. Spé : 65</div>
      <div>Vitesse : 30</div>
      <div class="total">Total : 510</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 25</p>
      <p><strong>Groupes d'œufs :</strong> Mineral / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 25</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1354</p>
    <p><strong>Détails :</strong> Metal Coat</p>
  </section>

</div>

</body>
</html>
