<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Steenee</h1>
    <h2>#762 - Fruit Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1290</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Grass / NULL</div>
    <div><strong>Taille :</strong> 0.7</div>
    <div><strong>Poids :</strong> 8.2</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Leaf Guard</strong> -> Prevents status conditions in harsh sunlight.</p>
      <p><strong>Oblivious</strong> -> The Pokemon is oblivious, and that keeps it from being infatuated or falling for taunts.</p>
      <p><strong>Sweet Veil</strong> -> Prevents itself and ally Pokemon from falling asleep.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 52</div>
      <div>Attaque : 40</div>
      <div>Défense : 48</div>
      <div>Att. Spé : 40</div>
      <div>Déf. Spé : 48</div>
      <div>Vitesse : 62</div>
      <div class="total">Total : 290</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 100</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 120</p>
      <p><strong>Groupes d'œufs :</strong> Grass / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 1289</p>
    <p><strong>Détails :</strong> Level 18</p>
  </section>

</div>

</body>
</html>
