<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>StunfiskGalar</h1>
    <h2>#618 - Trap Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1553</div>
    <div><strong>Forme :</strong> Galar</div>
    <div><strong>Type :</strong> Ground / Steel</div>
    <div><strong>Taille :</strong> 0.7</div>
    <div><strong>Poids :</strong> 20.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Mimicry</strong> -> Changes the Pokemons type depending on the terrain.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 109</div>
      <div>Attaque : 81</div>
      <div>Défense : 99</div>
      <div>Att. Spé : 66</div>
      <div>Déf. Spé : 84</div>
      <div>Vitesse : 32</div>
      <div class="total">Total : 471</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 75</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Amorphous</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
