<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Surskit</h1>
    <h2>#283 - Pond Skater Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 411</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Bug / Water</div>
    <div><strong>Taille :</strong> 0.5</div>
    <div><strong>Poids :</strong> 1.7</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Swift Swim</strong> -> Boosts the Pokemons Speed stat in rain.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Rain Dish</strong> -> The Pokemon gradually regains HP in rain.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 40</div>
      <div>Attaque : 30</div>
      <div>Défense : 32</div>
      <div>Att. Spé : 50</div>
      <div>Déf. Spé : 52</div>
      <div>Vitesse : 65</div>
      <div class="total">Total : 269</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 200</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Bug</p>
      <p><strong>Cycles d'œufs :</strong> 15</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
