<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>TerapagosStellar</h1>
    <h2>#1024 - Tera Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1882</div>
    <div><strong>Forme :</strong> Stellar</div>
    <div><strong>Type :</strong> Normal / NULL</div>
    <div><strong>Taille :</strong> 1.7</div>
    <div><strong>Poids :</strong> 77</div>
    <div><strong>Statut :</strong> Legendary</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Teraform Zero</strong> -> When Terapagos changes into its Stellar Form, it uses its hidden powers to eliminate all effects of weather and terrain, reducing them to zero.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 160</div>
      <div>Attaque : 105</div>
      <div>Défense : 110</div>
      <div>Att. Spé : 130</div>
      <div>Déf. Spé : 110</div>
      <div>Vitesse : 85</div>
      <div class="total">Total : 700</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 0</p>
      <p><strong>Bonheur de base :</strong> 0</p>
      <p><strong>Taux de capture :</strong> 255</p>
      <p><strong>Groupes d'œufs :</strong> No Eggs Discovered / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 0</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
