<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Tinkatink</h1>
    <h2>#957 - Metalsmith Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1729</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Fairy / Steel</div>
    <div><strong>Taille :</strong> 0.4</div>
    <div><strong>Poids :</strong> 8.9</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Mold Breaker</strong> -> Moves can be used on the target regardless of its Abilities.</p>
      <p><strong>Own Tempo</strong> -> This Pokemon has its own tempo, and that prevents it from becoming confused.</p>
      <p><strong>Pickpocket</strong> -> Steals an item from an attacker that made direct contact.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 50</div>
      <div>Attaque : 45</div>
      <div>Défense : 45</div>
      <div>Att. Spé : 35</div>
      <div>Déf. Spé : 64</div>
      <div>Vitesse : 58</div>
      <div class="total">Total : 297</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 0</p>
      <p><strong>Ratio ♀ :</strong> 100</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 190</p>
      <p><strong>Groupes d'œufs :</strong> Fairy / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
