<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>TyphlosionHisui</h1>
    <h2>#157 - Ghost Flame Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1628</div>
    <div><strong>Forme :</strong> Hisui</div>
    <div><strong>Type :</strong> Fire / Ghost</div>
    <div><strong>Taille :</strong> 1.6</div>
    <div><strong>Poids :</strong> 69.8</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Blaze</strong> -> Powers up Fire-type moves when the Pokemons HP is low.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>Frisk</strong> -> When it enters a battle, the Pokemon can check an opposing Pokemons held item.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 73</div>
      <div>Attaque : 84</div>
      <div>Défense : 78</div>
      <div>Att. Spé : 119</div>
      <div>Déf. Spé : 85</div>
      <div>Vitesse : 95</div>
      <div class="total">Total : 534</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 87.5</p>
      <p><strong>Ratio ♀ :</strong> 12.5</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 55</p>
      <p><strong>Groupes d'œufs :</strong> Field / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 249</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
