<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>UrshifuRapidStrike</h1>
    <h2>#892 - Wushu Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 40</div>
    <div><strong>Forme :</strong> Rapid Strike</div>
    <div><strong>Type :</strong> Fighting / Water</div>
    <div><strong>Taille :</strong> 1.9</div>
    <div><strong>Poids :</strong> 105</div>
    <div><strong>Statut :</strong> Sub-Legendary</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Unseen Fist</strong> -> The Pokemon can deal damage with moves that make physical contact, even if the target is protected.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 100</div>
      <div>Attaque : 130</div>
      <div>Défense : 100</div>
      <div>Att. Spé : 63</div>
      <div>Déf. Spé : 60</div>
      <div>Vitesse : 97</div>
      <div class="total">Total : 550</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 87.5</p>
      <p><strong>Ratio ♀ :</strong> 12.5</p>
      <p><strong>Bonheur de base :</strong> 0</p>
      <p><strong>Taux de capture :</strong> 3</p>
      <p><strong>Groupes d'œufs :</strong> No Eggs Discovered / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 120</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 38</p>
    <p><strong>Détails :</strong> Scroll of Waters</p>
  </section>

</div>

</body>
</html>
