<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Venomoth</h1>
    <h2>#49 - Poison Moth Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 71</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Bug / Poison</div>
    <div><strong>Taille :</strong> 1.5</div>
    <div><strong>Poids :</strong> 12.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Shield Dust</strong> -> This Pokemons dust blocks the additional effects of attacks taken.</p>
      <p><strong>Tinted Lens</strong> -> The Pokemon can use not very effective moves to deal regular damage.</p>
      <p><strong>Wonder Skin</strong> -> Makes status moves more likely to miss.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 70</div>
      <div>Attaque : 65</div>
      <div>Défense : 60</div>
      <div>Att. Spé : 90</div>
      <div>Déf. Spé : 75</div>
      <div>Vitesse : 90</div>
      <div class="total">Total : 450</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 75</p>
      <p><strong>Groupes d'œufs :</strong> Bug / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> 70</p>
    <p><strong>Détails :</strong> Level 31</p>
  </section>

</div>

</body>
</html>
