<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Wingull</h1>
    <h2>#278 - Seagull Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 406</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / Flying</div>
    <div><strong>Taille :</strong> 0.6</div>
    <div><strong>Poids :</strong> 9.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Keen Eye</strong> -> Keen eyes prevent other Pokemon from lowering this Pokemons accuracy.</p>
      <p><strong>Hydration</strong> -> Heals status conditions if its raining.</p>
      <p><strong>Rain Dish</strong> -> The Pokemon gradually regains HP in rain.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 40</div>
      <div>Attaque : 30</div>
      <div>Défense : 30</div>
      <div>Att. Spé : 55</div>
      <div>Déf. Spé : 30</div>
      <div>Vitesse : 85</div>
      <div class="total">Total : 270</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 190</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Flying</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
