<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>WishiwashiSchool</h1>
    <h2>#746 - Small Fry Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 1581</div>
    <div><strong>Forme :</strong> School</div>
    <div><strong>Type :</strong> Water / NULL</div>
    <div><strong>Taille :</strong> 8.2</div>
    <div><strong>Poids :</strong> 78.6</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Schooling</strong> -> When it has a lot of HP, the Pokemon forms a powerful school. It stops schooling when its HP is low.  Doesnt work until Level 20.</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 45</div>
      <div>Attaque : 140</div>
      <div>Défense : 130</div>
      <div>Att. Spé : 140</div>
      <div>Déf. Spé : 135</div>
      <div>Vitesse : 30</div>
      <div class="total">Total : 620</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 60</p>
      <p><strong>Groupes d'œufs :</strong> Water 2 / NULL</p>
      <p><strong>Cycles d'œufs :</strong> 15</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
