<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Fiche Pokemon</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

<div class="card">

  <header>
    <h1>Wooper</h1>
    <h2>#194 - Water Fish Pokemon</h2>
  </header>

  <section class="basic-info">
    <div><strong>ID :</strong> 294</div>
    <div><strong>Forme :</strong> NULL</div>
    <div><strong>Type :</strong> Water / Ground</div>
    <div><strong>Taille :</strong> 0.4</div>
    <div><strong>Poids :</strong> 8.5</div>
    <div><strong>Statut :</strong> NULL</div>
  </section>

  <section>
    <h3>Talents</h3>
    <div class="abilities">
      <p><strong>Damp</strong> -> Prevents the use of explosive moves, such as Self-Destruct, by dampening its surroundings.</p>
      <p><strong>Water Absorb</strong> -> Restores HP if hit by a Water-type move instead of taking damage.</p>
      <p><strong>Unaware</strong> -> When attacking, the Pokemon ignores the target Pokemons stat changes.</p>
      <p><strong>NULL</strong> -> NULL</p>
    </div>
  </section>

  <section>
    <h3>Statistiques de base</h3>
    <div class="stats">
      <div>PV : 55</div>
      <div>Attaque : 45</div>
      <div>Défense : 45</div>
      <div>Att. Spé : 25</div>
      <div>Déf. Spé : 25</div>
      <div>Vitesse : 15</div>
      <div class="total">Total : 210</div>
    </div>
  </section>

  <section>
    <h3>Informations supplémentaires</h3>
    <div class="extra">
      <p><strong>Ratio ♂ :</strong> 50</p>
      <p><strong>Ratio ♀ :</strong> 50</p>
      <p><strong>Bonheur de base :</strong> 50</p>
      <p><strong>Taux de capture :</strong> 255</p>
      <p><strong>Groupes d'œufs :</strong> Water 1 / Field</p>
      <p><strong>Cycles d'œufs :</strong> 20</p>
    </div>
  </section>

  <section>
    <h3>Évolution</h3>
    <p><strong>Pré-évolution :</strong> NULL</p>
    <p><strong>Détails :</strong> NULL</p>
  </section>

</div>

</body>
</html>
