<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Teams.CSS">
    <title>Double Regen</title>
</head>

<body>
    <h1>Team Double regen</h1>
    <button class="retour" onclick="history.go(-1)">Retour</button>
    <button class='Accueil' onclick="window.location.href = '/'">Accueil</button>
    <p class = bandeau>‎</p>
    <button id="copyButton" onclick="copyToClipboard()">Copier l'équipe</button><br>
    <div class="team-container">
        <div class="team">
            <pre class="txt_equipe">
EEEEEEE (Gliscor) @ Toxic Orb  
Ability: Poison Heal  
Tera Type: Water  
EVs: 244 HP / 248 Def / 16 Spe  
Impish Nature  
- Earthquake  
- Toxic  
- Protect  
- Knock Off  

C'est non. (Gholdengo) @ Choice Specs  
Ability: Good as Gold  
Tera Type: Flying  
EVs: 252 SpA / 4 SpD / 252 Spe  
Timid Nature  
IVs: 0 Atk  
- Trick  
- Make It Rain  
- Shadow Ball  
- Recover  

Le daron (Kingambit) @ Leftovers  
Ability: Supreme Overlord  
Tera Type: Fairy  
EVs: 4 HP / 252 Atk / 252 Spe  
Adamant Nature  
- Swords Dance  
- Sucker Punch  
- Iron Head  
- Kowtow Cleave  

Slowking V2 (Slowking-Galar) @ Black Sludge  
Ability: Regenerator  
Tera Type: Water  
EVs: 248 HP / 8 Def / 252 SpD  
Sassy Nature  
IVs: 0 Atk / 0 Spe  
- Future Sight  
- Sludge Bomb  
- Chilly Reception  
- Trick  

Yféfrwa (Kyurem) @ Assault Vest  
Ability: Pressure  
Tera Type: Dragon  
EVs: 252 HP / 252 SpA / 4 SpD  
Modest Nature  
IVs: 0 Atk  
- Draco Meteor  
- Freeze-Dry  
- Earth Power  
- Focus Blast  

Susss (Amoonguss) @ Leftovers  
Ability: Regenerator  
Tera Type: Grass  
EVs: 252 HP / 252 Def / 4 SpA  
Bold Nature  
IVs: 0 Atk  
- Clear Smog  
- Spore  
- Giga Drain  
- Foul Play

            </pre>
        </div>

        <div class="additional-text">
            <!-- Ajoutez votre texte à droite de l'équipe ici -->
            <p>Replay 1 | Bubzee Vs GegtheFrank</p>
            <button class = bttn_match onclick="window.location.href = '/Showdown/Replays/OU 9G/double_regen_001'">Match n°001</button>
        </div>
    </div>

    <script>
        function copyToClipboard() {
            // Sélectionnez le texte à copier
            var textToCopy = document.querySelector('.team').innerText;

            // Créez un élément de texte temporaire pour copier le texte
            var tempTextArea = document.createElement('textarea');
            tempTextArea.value = textToCopy;
            document.body.appendChild(tempTextArea);

            // Sélectionnez le texte dans le champ de texte temporaire
            tempTextArea.select();

            // Copiez le texte dans le presse-papiers
            document.execCommand('copy');

            // Supprimez l'élément de texte temporaire
            document.body.removeChild(tempTextArea);

            alert("Texte copié dans le presse-papiers!");
        }
    </script>
</body>

</html>
