body {
    font-family: Arial, sans-serif;
    background-image: url('Gengar.jpg');
    background-repeat: no-repeat;  
    background-position-y: top;
    background-size:110%;
    background-attachment: fixed;  
}

button {
    background-color: #8f54e2;
    border-radius: 10px;
    color: #eeeeee;
    text-align: center;
    font-size: 100%;
    width: 10%;
    padding: 3%;
    cursor: pointer;
    margin: 5px;
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: mediumslateblue;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

h10 {
    font-size: 30px;
    size: 20px;
    color: white;
}

.Accueil{
    position: fixed;
    top: 2%;
    left: 12%;
}

.acces_page_poke{
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    background-color: #8f54e2;
}

.bandeau{
    size: 20px;
    background-color: rgb(192, 64, 186);
    font-size: 100px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 0px;
    margin-bottom: 0;
    background-image: url(bandeau.png);
    border-style:solid;
    border-color: #8f54e2;
    width: 1873px;
    height: 150px;
}

.bttn_match {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    background-color: #8f54e2;
}

.droite_img_poke{
    flex: 1;
    margin-left: -30%;
    margin-bottom: auto;
    opacity: 80%;
    border-radius: 10px;
    font-size: 20px;
    color:black 
}

.Invalid{
    background-color: gray; 
}

.img_poke{
    display: flex;
    justify-content: space-between;
    height:150px;
}

.pokedex_selection{
    background-color: #212529;
    opacity: 70%;
    margin-right: 50%;
    border-radius: 15px;
    border-style: solid;
    border-color: purple;
    color: #3f48cc;
}

.retour{
    position: fixed;
    top: 2%;
    left: auto;
}

.Tweets{
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

div {
    display: block;
}