body {
    font-family: Arial, sans-serif;
    background-image: url('Gengar.jpg');
    background-repeat: no-repeat;  
    background-position-y: top;
    background-size:110%;
    background-attachment: fixed;
}

.Accueil{
    position: fixed;
    top: 2%;
    left: 12%;
}

.bandeau{
    size: 20px;
    background-color: rgb(192, 64, 186);
    font-size: 100px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 0px;
    margin-bottom: 0;
    background-image: url(bandeau.png);
    border-style:solid;
    border-color: #8f54e2;
}

.bouton {
        background-color: #8f54e2;
        border-radius: 10px;
        color: #eeeeee;
        text-align: center;
        font-size: 100%;
        width: 12%px;
        padding: 3%;
        cursor: pointer;
        margin: 5px;
    }

.Invalid{
    background-color: gray;
    
}

.retour{
    position:fixed;
    top: 2%;
    left: auto;
}

.titre {
    font-size: 50px;
    text-align: center;
    background-color: mediumslateblue;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}



