body {
    font-family: Arial, sans-serif;
    background-image: url('Gengar.jpg');
    background-repeat: no-repeat;  
    background-position-y: top;
    background-size:110%;
    background-attachment: fixed;
}

button {
    background-color: #8f54e2;
    border-radius: 10px;
    color: #eeeeee;
    text-align: center;
    font-size: 100%;
    width: 12%;
    padding: 3%;
    cursor: pointer;
    margin: 5px;
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: mediumslateblue;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.Accueil{
    position: fixed;
    top: 2%;
    left: 12%;
}

.additional-text {
    flex: 1;
    margin-left: -30%; /* Ajoutez une marge pour séparer les deux divs */
    margin-top: 15px;
    margin-bottom: auto;
    opacity: 80%;
    background-color: #5639d8;
    border-radius: 10px;
    font-size: 20px;
    color:black
}

.bandeau{
    size: 20px;
    background-color: rgb(192, 64, 186);
    font-size: 100px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 0px;
    margin-bottom: 0;
    background-image: url(bandeau.png);
    border-style:solid;
    border-color: #8f54e2;
}

.bttn_match {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    background-color: #8f54e2;
}


.Invalid{
    background-color: gray; 
}

.retour{
    position: fixed;
    top: 2%;
    left: auto;
}

.team {
    flex: 1;
}

.team-container {
    display: flex;
    justify-content: space-between;
}

.txt_equipe{
    color: black;
    font-weight: bold;
    font-size: 15px;
    background-color: #8990f5;
    text-align: left;
    margin-left: 1%;
    margin-right: 50%;
    border-radius: 10px;
}