<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Accueil.CSS">
    <title>Accueil</title>
</head>
<body>
    <h1>Accueil</h1>
    <button class="Invalid retour">Retour</button>
    <button class='Accueil'  onclick="window.location.href = '/'">Accueil</button>
    <p class = bandeau>‎</p>
    <button onclick="window.location.href = '/Showdown'">Showdown</button>
</body>
</html>