<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Accueil.CSS">
    <title>Smogon Tweets</title>
</head>
<body>
    <button class='Accueil'  onclick="window.location.href = '/'">Accueil</button>
    <button class="retour" onclick="history.go(-1)">Retour</button>
    <div class = "Tweets">
    <a class="twitter-timeline" href="https://https://twitter.com/SmogonU" style = "font-size: 50px;">Chargement ...</a> 
    <script async src="https://platform.twitter.com/widgets.js"></script>
    </div>
</body>
</html>
