<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Accueil.CSS">
    <title>Teams</title>
</head>
<body>
    <h1>Pokédex</h1>
    <button class='Accueil'  onclick="window.location.href = '/'">Accueil</button>
    <button class="retour" onclick="history.go(-1)">Retour</button>
    <p class = bandeau>‎</p><br><br>

    <div class="pokedex_selection" style = "display:flex;">
        <div style="float: left;">
            <img class= "img_poke" src="https://www.pokepedia.fr/images/c/c6/Miniature_0983_EV.png">
        </div>
    
        <div class="droite_img_poke" style="float: left; margin-left: 10px;">
            <h10>Scalpereur</h10><br>
            <p style="color: #777eeb;">Tiers Référencés: | OU 9G |</p><br>
            <button class="acces_page_poke" onclick="window.location.href = '/Showdown/Pokédex/Scalpereur'">Voir la page</button>
        </div>
    </div>
    
</body>
</html>