<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Accueil.CSS">
    <title>Replays Bubzee</title>
</head>
<body>
    <h1>Replays</h1>
    <button class='Accueil'  onclick="window.location.href = '/'">Accueil</button>
    <button class="retour" onclick="history.go(-1)">Retour</button>

    <p class = bandeau>‎</p>
    <h2>Random battles</h2> <br>
    <button class = bttn_match onclick="window.location.href = '/Showdown/Replays/Random_bat'">random_bat 9G VS espodrew</button><br>
    <h2>9G OverUsed</h2><br>
    <button class = bttn_match onclick="window.location.href = '/Showdown/Replays/OU 9G/double_regen_001'">9G OU VS GegtheFrank</button><br>
</body>
</html>