<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Accueil.CSS">
    <title>Showdown</title>
</head>
<body>
    <h1>Showdown</h1>
    <button class="retour" onclick="history.go(-1)">Retour</button>
    <button class='Accueil'  onclick="window.location.href = '/'">Accueil</button>
    <p class = bandeau>‎</p>
    <button onclick="window.location.href = '/Showdown/Teams'">Teams</button>
    <button onclick="window.location.href = '/Showdown/Replays'">Replays</button>
    <button onclick="window.location.href = '/Showdown/Pokédex'">Pokédex</button>
    <button onclick="window.location.href = '/Showdown/news'">News</button>
</body>
</html>